
body
{
background-image: url("https://getwallpapers.com/wallpaper/full/2/9/e/29291.jpg");
}

h1 {
    position: relative;
    right: 85%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: Cinzel;
    font-size: 12em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px red,
    1px 22px 10px red,
    1px 25px 35px red,
    1px 30px 60px red;
    margin-bottom: 0;
}

.top-container
{
 position: absolute;
 margin-left: 47.5%;
 text-align: center;
}

.container2
{
 padding-left: 2%;
 position: relative;
 padding-bottom: 10px;
 margin-bottom: 170px;
}

.container3
{
 padding-left: 3.5%;
 position: relative;
 padding-bottom: 150px;
 margin-bottom: 200px;
}

.container4
{
 padding-left: 2%;
 position: relative;
 padding-bottom: 70px;
}

.container5
{
 padding-left: 2%;
 position: relative;
 padding-bottom: 50px;
}

.container5half
{
 padding-left: 2%;
 position: relative;
 padding-bottom: 100px;
}

.container6
{
 padding-left: 2%;
 position: relative;
 padding-bottom: 70px;
}

.container7
{
 margin-top: 100px;
 padding-left: 2%;
 position: relative;
 padding-bottom: 70px;
}

.container8
{
 padding-left: 15%;
 position: relative;
 padding-top: 70px;
 text-align: center;
}

h2 {
 padding-top: 250px;
 padding-bottom: 70px;
 margin-left: 3%;
 position: relative;
 color: yellow;
 text-align: center;
}

h3 {
 padding-top: 50px;
 position: relative;
 color: yellow;
 text-align: center;
 padding-left: 2%;
}

.img
{
 margin-left: 0%;
 align: left;
 float: left;
}

p{
 font-family: 'Vast Shadow', cursive;
 font-size: 25px;
 color: turquoise;
 padding-top: 1%;
 width: 85%;
 }

.binary-star
{
 padding-right: 2%;
 padding-left: 2%;
 float: left;
}

.giphy-embed1
{
 padding-right: 2%;
 padding-left: 2%;
 float: left;
}

.giphy-embed2
{
 padding-right: 2%;
 padding-left: 2%;
}
.giphy-embed
{
 padding-right: 2%;
 padding-left: 2%;
 float: left;
}

.tenor-gif-embed
{
 padding-right: 2%;
 padding-left: 2%;
 paddiing-bottom: 2%;
 float: left;
}
